---
hostname: superrancher.io
replicas: 1
#penser à passer le mot de passe en secret ansible
bootstrapPassword: Aqwzsxedc@01
persistance:
  enabled: true

{% if ingress_tls == true %}
ingress:
  tls:
    source: secret
{% endif %}

#If private SSL certificate 
privateCA: {{ privateCA }}

#If you have private registries, catalogs or a proxy that intercepts certificates
additionalTrustedCAs: {{ additionalTrustedCAs }}