---
hostname: {{ hostname_ingress }}
replicas: 1
bootstrapPassword: {{ default_password }}
persistance:
  enabled: true

{% if ingress_tls == true %}
ingress:
  tls:
    source: secret
{% endif %}

{% if privateCA == true %}
privateCA: {{ privateCA }}
{% endif %}

{% if additionalTrustedCAs == true %}
additionalTrustedCAs: {{ additionalTrustedCAs }}
{% endif %}